/* Container Card */

.bookmarkIcon {
	width: 15px;
}

.card {
	display: flex;
	position: relative;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 35px var(--shadowColor);
	border-radius: 15px;
	height: 350px;
	justify-content: space-between;
	flex-direction: column;
	align-items: flex-start;
	overflow: hidden;
	backdrop-filter: blur(10px);
	outline: solid 1px var(--firstColor);
	transition: outline 0.2s linear;
	margin: 0.5em;
}

.card.active {
	outline: solid 5px var(--secondColor);
}

.card:hover {
	outline-width: 3px;
	-webkit-font-smoothing: subpixel-antialiased;
	backface-visibility: hidden;
}

.cardImgBox {
	position: absolute;
	display: flex;

	width: 100%;
	height: 100%;
	overflow: hidden;
	justify-content: center;
	align-items: flex-end;
}

.cardImg {
	height: 100%;
	position: absolute;
	object-fit: center;
	z-index: -1;
}

.cardImgPlaceholder {
	position: absolute;
	object-fit: center;
	z-index: -1;
	width: 100%;
}

.card p {
	font-family: var(--fontBody);

	font-size: 0.8rem;
}

/* Haut de la Card */

.cardContentTop {
	position: relative;
	display: flex;
	width: 100%;
	height: 250px;
	top: 0%;
	padding: 0px;
	cursor: pointer;
}

.cardTopBanner {
	height: 20%;
	width: 100%;
	display: flex;
}

.cardContainerTopAvatar {
	height: 100%;
	display: flex;
	min-width: 15%;
	max-width: 15%;
	border-top: none;
	border-right: 1px solid rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 0% 0% 0% 0%;
	overflow: hidden;
	align-content: center;
	flex-wrap: wrap;
}

.cardTopAvatar {
	width: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
}

.cardTopTitle {
	display: flex;
	width: 100%;
	align-items: center;
	padding: 0 10px 0 10px;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(8px);
}

.cardTopTitleP {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 80%;
	color: whitesmoke;
	margin-right: 20px;
}

.cardDate {
	position: absolute;
	bottom: 0%;
	right: -3px;
	padding: 7px 10px 5px 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: var(--gradientColor);
	border-radius: 20px 0px 0px 0px;
	color: var(--thirdColor);
	border: 2px solid var(--firstColor);
}

.cardMember {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.checkMarkIcon {
	width: 50px;
	height: auto;
	transform: translate(0%, 40%);
	border-radius: 50%;
	background-color: var(--firstColor);
	border: 3px solid var(--firstColor);
	align-self: center;
}

/* Bas de la Card */

.cardBottom {
	display: flex;
	width: 100%;
	min-height: 30%;
	padding: 5px 5px 0px;
	flex-direction: column;
	justify-content: space-between;
	background: rgba(255, 255, 255, 0.1);
}

.cardBottomDescritption {
	display: flex;
	flex-direction: column;
	padding: 1px;
	height: 36%;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 90%;
}

.cardBottomFooter {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	padding: 0px 5px 10px;
}

.cardBottomLink {
	font-size: 22px;
	display: flex;
}

.cardBottomLink:hover {
	cursor: pointer;
}

.cardBottomFavorite:hover {
	cursor: pointer;
}

.cardBottomLike {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cardBottomLike p {
	font-size: 0.7rem;
}

.bookmarkIcon {
	width: 15px;
}
