.Disconnect {
  width: 100%;
}

.flexDisconnectButtons {
  display: flex;
  justify-content: space-around;
}

.textDisconnectPage {
  text-align: center;
  transform: translateX(15.3px);
  margin-top: 40px;
}

#h5DiscoPage {
  margin-top: 0px;
}

#avatarimg,
#article,
#description {
  background: none;
  color: var(--thirdColor);
}

.inputText {
  background: none;
  display: block;
  width: 100%;
  margin: 15px;
  height: 50px;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 20px;
  -webkit-appearance: none;
}

.buttonPageDisconnect {
  display: block;
  width: 100%;
  height: 50px;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 20px;
  background: var(--thirdColor);
  color: var(--gradientColor);
  -webkit-appearance: none;
}

.buttonPageDisconnect:hover {
  cursor: pointer;
}

.buttonUpPageDisco {
  margin: 15px;
}

.buttonDownPageDisco {
  width: 20%;
  margin: auto;
  margin-top: 2%;
}

#accessPrez {
  margin-top: 10%;
}

#accessPrez:hover {
  opacity: 1;
  transition: 0.45s;
}

#postedArticles,
#seePostedArticles {
  margin-bottom: 2%;
}

#cache {
  display: none;
}

#addarticle {
  display: flex;
}

#reveal {
  display: flex;
  width: 100%;
}

table {
  width: 80%;
  margin-left: 10%;
  border: 1px solid;
  justify-content: center;
  transform: translateX(15.3px);
}

.fas {
  display: unset;
  font-size: 25px;
}

th {
  border: 1px solid;
  justify-content: center;
}

input {
  text-align: center;
}
