.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader-container {
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: block;
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 7px solid transparent;
  border-top-color: rgba(240, 46, 46, 0.609);
  animation: spin 3s linear infinite;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 7px solid transparent;
}

.loader::before {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-top-color: var(--firstColor);
  animation: spin 2.5s linear infinite;
}

.loader::after {
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  border-top-color: var(--thirdColor);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.message {
  position: relative;
  padding: 20px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--thirdColor);
  margin: 40px;
  transition: 2s;
  text-decoration: none;
  overflow: hidden;
}

.message::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 800%;
  background: red;
  transition: 2s;
  animation: animate 2s linear infinite;
}

.message::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: var(--secondColor);
  transition: 0.5s;
}

.message span {
  position: relative;
  z-index: 1;
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.backtohome {
  position: relative;
  padding: 20px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--thirdColor);
  margin: 40px;
  transition: 1s;
  text-decoration: none;
  overflow: hidden;
}

.backtohome:hover {
  background: red;
  box-shadow: 0 0 10px var(--thirdColor), 0 0 30px var(--thirdColor),
    0 0 60px var(--thirdColor);
}

.backtohome::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 800%;
  background: red;
  transition: 2s;
  animation: animate 2s linear infinite;
}

.backtohome:hover::before {
  width: 120%;
}

.backtohome::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: var(--secondColor);
  transition: 0.5s;
}

.backtohome:hover::after {
  background: var(--secondColor);
  backdrop-filter: blur(30px);
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.backtohome span {
  position: relative;
  z-index: 1;
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 4px;
}
