.galleryprez {
  display: flex;
  height: auto;

  padding: 0vw 10vw 0vw 10vw;
  margin: 50px auto 0;
  padding: 0 20px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 0.2fr));
  grid-gap: 0px;
  justify-content: center;
  align-items: center;
}

.seeMore {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0px 0px 0px;
}
