/* Icon Slide for Menu ****Close****   */

#ion-icon {
  position: absolute;
  top: 78px;
  left: 48px;
  width: 46px;
  height: 42px;
  opacity: 0.65;
  transition: all 0.5s cubic-bezier(0.76, 0.01, 0.21, 0.97);
  z-index: 20000;
}

#ion-icon:hover {
  opacity: 1;
}

/* Icon Slide for Menu ****Open****   */

#ion-icon-open {
  position: absolute;
  top: 78px;
  left: 248px;
  width: 46px;
  height: 42px;
  opacity: 0.65;
  transition: all 0.5s cubic-bezier(0.76, 0.01, 0.21, 0.97);
  z-index: 20000;
  transform: rotate(180deg);
}

#ion-icon-open:hover {
  opacity: 1;
}

/* Icon - Dark/Light mode - Close */

#NavDarkMode {
  position: absolute;
  bottom: 15px;
  left: 11px;
  color: var(--thirdColor);
  opacity: 0.35;
  transition: 0.5s;
}

#NavDarkMode:hover {
  color: var(--thirdColor);
  opacity: 1;
}

/* Bloc Navigation ****Close**** */

.Nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 0 5px 25px var(--shadowColor);
  text-decoration: none;
  font-style: none;
  transition: all 0.5s cubic-bezier(0.76, 0.01, 0.21, 0.97);
  width: 70px;
  backdrop-filter: blur(20px);
  z-index: 20000;
}

@-moz-document url-prefix() {
  .Nav {
    background-color: var(--gradientColor);
  }
}

/* Bloc Navigation ****Open**** */

.NavOpen {
  width: 270px;
}

/*   Bloc Link (Icons / Text) ****Close**** */

.NavLink {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px 14px;
  margin: 20px 0;
  color: var(--thirdColor);
  opacity: 0.6;
  transition: all 0.1s cubic-bezier(0.76, 0.01, 0.21, 0.97);
  text-decoration: none;
  z-index: 20000;
}

.NavLink:hover {
  opacity: 1;
  transition: 0.45s;
}

.noBookmark {
  display: none;
}

/* Text Menu ****Open / Close**** */

.TextMenu {
  position: absolute;
  left: 90px;
  transition: all 0.5s cubic-bezier(0.76, 0.01, 0.21, 0.97);
  transition-delay: 0.2s;
  opacity: 1;
  font-family: var(--fontTitle);
}

.TextMenuOpen {
  left: 70px;
  transition: 0.2s;
  opacity: 0;
}

@media (max-width: 768px) {
  .Nav {
    display: none;
  }
  #NavDarkMode {
    position: relative;
    top: 20vh;
    left: 20px;
  }
  .NavLink {
    opacity: 1;
    padding: 30px 25px;
  }
  .fas {
    opacity: 1;
    color: var(--firstColor);
  }
}
