.ensemble {
	background: none;
	background-color: none;
	display: grid;
	grid-template-columns: repeat(8, 14vw);
	grid-template-rows: 1fr;
	grid-column-gap: 5px;
	grid-row-gap: 0px;
	height: 90vh;
}

.frame {
	position: relative;
	background: none;
	background-color: none;
	grid-area: 1 / 2 / 2 / 6;
	height: 90vh;
	display: flex;
	flex-direction: column;
}

iframe {
	background: none;
	background-color: none;
	height: 90vh;
}

.visuLien {
	height: 100%;
	width: 100%;
}

.visuLienEmbed {
	height: 100%;
	width: 100%;
}

.list {
	grid-area: 1 / 6 / 2 / 8;
	height: 90vh;
	justify-content: center;
	align-items: center;
	overflow-y: scroll;
}

.messages {
	position: absolute;
	top: 50px;
}

.messages :link {
	color: var(--thirdColor);
}

.ptdr {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
}

.modeprez {
	margin-top: 30px;
	margin-bottom: 30px;
}
