#cache {
  display: none;
}

#reveal {
  display: flex;
}

.profilTableau {
  margin: auto;
  display: flex;
  justify-content: center;
}

table {
  border: 1px solid;
  justify-content: center;
}

th {
  border: 1px solid;
  justify-content: center;
  padding: 8px;
}

.fas {
  display: unset;
  font-size: 25px;
}
.fas:hover {
  cursor: pointer;
}
