/* Container du composant  */
.searchContainer {
  position: absolute;
  z-index: 1000;
  bottom: -10px;
  transform: translateY(100%);
  padding: 20px 15px;
  color: var(--thirdColor);
  outline: none;
  font-size: 0.8em;
  border-radius: 32px;
  background: var(--gradientColor);
  backdrop-filter: blur(20px);
  box-shadow: 5px 5px 5px var(--shadowColor);
  border: 1px solid;
}

.searchContainerHide {
  display: none;
}

/* Grille du composant */

.searchGrid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(auto-fill, 1fr);
}

/* Elèment de la grille */
.elGrid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.elGrid p {
  display: flex;
  padding: 10px;
  border: 1px solid transparent;
  justify-content: center;
  align-items: center;
  min-width: 4 0px;
  min-height: 40px;
  border-radius: 32px;
  cursor: pointer;
  transition: 0.2s;
}

.elGrid p:hover {
  border: 1px solid var(--firstColor);
}
