.searchBigContainer {
  display: flex;
  padding-top: 50px;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  max-width: 800px;
  margin: 0 auto;
}

/* Pour Telephone */
.searchPhone {
  display: none;
}

/* Pour Desktop */
.searchBoxDesktop {
  position: relative;
  z-index: 2000;
  width: 90%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 32px;
  color: var(--thirdColor);
  outline: none;
  font-size: 1em;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 5px 5px 5px var(--shadowColor),
    inset 2px 2px 2px var(--shadowColor);
  transition: 0.5s;
}

/* Supprimer/revenir en arrière */
.trash2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 5px 5px 5px var(--shadowColor),
    inset 2px 2px 2px var(--shadowColor);
  border-radius: 32px;
}

.trash2Hide {
  visibility: hidden;
}

.trash2:hover {
  box-shadow: 5px 5px 5px var(--shadowColor),
    inset 2px 2px 2px var(--shadowColor);
}
.trash2 img {
  width: 40px;
}

/* Barre de recherche */

.searchWrite {
  height: 100%;
  color: var(--thirdColor);
  outline: none;
  border: none;
  border-radius: 32px;
  font-size: 1.1em;
  background: transparent;
}

/* Classe pour les boites de la barre (années, semaines, user) */
.bulle {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Container des users et bouton recherche */

.searchUserBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
  transition: width 0.1s;
}

.searchUserBoxOpen {
  width: 200% !important;
}

.searchHover {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
  box-shadow: inset 8px 8px 8px transparent;
  cursor: pointer;
  user-select: none;
  height: 100%;
  transition: 0.1s;
}

.searchHover:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 8px 8px 8px var(--shadowColor);
  border-radius: 32px;
}

.modalOpen {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 8px 8px 8px var(--shadowColor);
  border-radius: 32px;
  height: 100%;
}

.searchUser {
  padding-right: 20px;
}

/* Bouton Loupe  */

.searchButton {
  position: absolute;
  right: 5px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
  border: none;
  background: var(--thirdColor);
  backdrop-filter: blur(100px);
  cursor: pointer;
  transition: 0.05s;
  user-select: none;
  color: var(--gradientColor);
}

.searchButton:hover {
  background: var(--firstColor);
}

.searchButtonOpen {
  position: absolute;
  width: 150px;
  border-radius: 32px;
  justify-content: space-around;
  padding: 1.5em 5em;
}

.searchButton img {
  width: 30px;
}

.hoverBG {
  background: var(--gradientColor);
}

/* Bouton Rechercher  */

.searchRechercherClosed {
  opacity: 0;
  transition: opacity 0.1s;
  transition-delay: 0.1s;
}

.searchRechercherOpen {
  opacity: 1;
  padding-right: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 1200px) {
  .searchBigContainer {
    width: 80%;
  }
}

@media screen and (max-width: 1080px) {
  .searchBoxDesktop {
    display: none;
  }

  .searchPhone {
    margin: auto;
    display: block;
    position: relative;
    z-index: 2000;
    width: 75%;
    height: 60px;
    display: flex;
    justify-content: initial;
    align-items: center;
    border-radius: 32px;
    color: var(--thirdColor);
    outline: none;
    font-size: 1em;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 5px var(--shadowColor),
      inset 2px 2px 2px var(--shadowColor);
    transition: 0.5s;
  }

  .searchBigContainer {
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    max-width: 800px;
    margin: 0 auto;
    font-size: 0.9em;
  }
}
