.bigGallery{
    margin-left: 80px;
}

.teamTitle{
    text-align: center;
    margin-top: 30px;

}

.gallery{
    /* display: flex;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0vw 10vw 0vw 10vw; */
    margin: 100px auto 0;
    padding: 0 0 50px 20px;;
    max-width: 88vw;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(350px,0.2fr));
    grid-gap: 45px;
    justify-content: center;
}

/* .item{
    min-height:200px;
    background: crimson;
    color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
} */

@media (max-width: 768px) {
    .bigGallery{margin-left: 0px; padding-bottom: 50px;}
    .gallery {padding: 0 20px;}
}