.teamTitle {
  text-align: center;
  margin-top: 30px;
}

.gallery {
  margin: 100px auto 0;
  padding: 0 0 50px 20px;
  max-width: 88vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 0.2fr));
  grid-gap: 45px;
  justify-content: center;
}

@media (max-width: 768px) {
  .gallery {
    padding: 0 20px 50px;
  }
}
