:root {
  --firstColor: #6667ab;
  --secondColor: #ff74d9;
  --thirdColor: #2b0e45;
  --gradientColor: #9b9ee1;
  --shadowColor: #2b0e4545;
  --fontTitle: 'IvyJournal' 400;
  --fontBody: 'Ivyjournal', sans-serif;
  backface-visibility: hidden;
}

[data-theme='dark'] {
  --firstColor: #c2c3f0;
  --secondColor: #f7ace3;
  --thirdColor: rgb(235, 235, 235);
  --gradientColor: #1e1f34;
  --shadowColor: #c2c3f02f;
  --fontTitle: 'IvyJournal' 400;
  --fontBody: 'Ivyjournal', sans-serif;
  backface-visibility: hidden;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#App {
  background: var(--gradientColor);
  font-family: var(--fontBody);
  min-height: 100vh;
  background-attachment: fixed;
  font-style: normal;
  color: var(--thirdColor);
}

input,
button,
textarea,
select {
  font: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

h1 h2 {
  font-family: var(--fontTitle);
  font-weight: 400;
  color: var(--thirdColor);
}
