:root {
  --firstColor: #6667AB;
  --secondColor: #FF74D9; /*color pop*/
  --thirdColor: #2B0E45; /*color dark mode*/
  --gradientColor: linear-gradient(218.33deg, #6667AB 15.4%, #FF74D9 69.39%, rgba(102, 103, 171, 0.53) 116.5%); /*gradient pop mode*/

  --gradientColor:linear-gradient(45deg, #8c61ff 0%, #ffb3d6 100%);
  --gradientColorDark: linear-gradient(218.33deg, #6667AB 15.4%, #2b2b2b 69.39%, rgba(102, 103, 171, 0.53) 116.5%); /*gradient dark mode*/
  --fontTitle: "IvyJournal" 400;
  --fontBody: 'Ivyjournal', sans-serif;
}

*, ::before, ::after {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}
a {text-decoration: none;}

body {
  background:var(--gradientColor); font-family: var(--fontBody); height: 100vh; background-attachment:fixed; font-style: normal; color: var(--thirdColor);
}
body.dark-theme {
  background:var(--gradientColorDark); font-family: var(--fontBody); height: 100vh; background-attachment:fixed; font-style: normal; color: white;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    background:var(--gradientColorDark); font-family: var(--fontBody); height: 100vh; background-attachment:fixed; font-style: normal; color: white;
  }
  body.light-theme {
    background:var(--gradientColor); font-family: var(--fontBody); height: 100vh; background-attachment:fixed; font-style: normal; color: var(--thirdColor);
  }
}


body{}

input,
button,
textarea,
select {
font: inherit;
}

ul[role='list'],
ol[role='list'] {
list-style: none;
}

h1 h2 {font-family: var(--fontTitle); font-weight: 400;}

