:root {
  --firstColor: #6667AB;
  --secondColor: #FF74D9;
  --thirdColor:#2B0E45;
  /* --gradientColor:linear-gradient(45deg, #8c61ff 0%, #ffb3d6 100%); */
  --fontTitle: "IvyJournal" 400;
  --fontBody: 'Ivyjournal', sans-serif;
  --gradientColor: rgb(205, 109, 220);
}

:root [data-theme='dark'] {
  --firstColor: #c2c3f0;
  --secondColor: #f7ace3; 
  --thirdColor:white;
  /* --gradientColor: linear-gradient(218.33deg, #6667AB 15.4%, #430e48 69.39%, rgba(102, 103, 171, 0.53) 116.5%); */
  --gradientColor: black;
  --fontTitle: "IvyJournal" 400;
  --fontBody: 'Ivyjournal', sans-serif;
}

*, ::before, ::after {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}

a {text-decoration: none;}

body {
  background:var(--gradientColor); font-family: var(--fontBody); height: 100vh; background-attachment:fixed; font-style: normal; color: var(--thirdColor);
}

input,
button,
textarea,
select {
font: inherit;
}

ul[role='list'],
ol[role='list'] {
list-style: none;
}

h1 h2 {font-family: var(--fontTitle); font-weight: 400; color: var(--thirdColor);}

